/*  ANIMATION */

.fade-in-animation {
    animation: animation-fade 1s ease-in-out;
}

@keyframes animation-fade {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;

    }
    50%{
        opacity: 0.5;

    }
    75%{
        opacity: 0.75;

    }
    100%{
        opacity: 1;

    }
}

/* NAVIGATION CSS*/

#header {
    position: absolute;
    width: 220px;
}
#header .pro-sidebar {
    height: 100vh;
}
/*CONTROLLS THE MIN/MAX BUTTON*/
#header .closemenu {
    color: mediumpurple;
    position: absolute;
    right: 0;
    z-index: 9999;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    top: 55px;
    cursor: pointer;
}
/*CONTROLLS THE WIDTH OF NAVBAR*/
#header .pro-sidebar {
    width: 100%;
    min-width: 100%;
}

/*CONTROLLS THE WIDTH OF NAVBAR WHEN COLLAPSED*/
#header .pro-sidebar.collapsed {
    width: 80px;
    min-width: 80px;
}

/*TARGETS BACKGROUND PG NAV*/
#header .pro-sidebar-inner {
    background-color: black;
    opacity: .9;
    box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
}

#header .pro-sidebar-inner .pro-sidebar-layout {
    overflow-y: hidden;
}

/*CONTROL FONT OF LOGO AREA*/
#header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
    font-size: 20px;
    padding: 0 20px;
    color: white;
    font-weight: bold;
}

/*PROVIDE EXTRA PADDING*/
#header .pro-sidebar-inner .pro-sidebar-layout ul {
    padding: 0 5px;
}

/*SPACING FOR ICON ELEMENTS*/
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: #000;
    margin: 10px 0px;
    font-weight: bold;
}

/*BACKGROUND COLOR OF ICONS*/
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
    background-color: mediumpurple;
    color: #000;
    border-radius: 3px;
}

/*WRAPPING*/
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
    color: #000;
}

/*ACTIVE STATUS*/
#header .pro-sidebar-inner .pro-sidebar-layout .active {
    /*background-image: linear-gradient(0deg, #fece00 0%, #ffe172 100%);*/
}
/*LOGO PADDING*/
#header .logo {
    padding: 20px;
}

/*MEDIA QUERRIES*/
@media only screen and (max-width: 720px) {
    html {
        overflow: hidden;
    }
}


/* ADMIN  */

/*PADDING TO AVOID COLISION ON NAV*/
.adminBody {
    padding-left: 100px;
    padding-right: 20px;
}

/*COLOR TAG ON FACT*/
.purple-text-tag {
    border-left: 10px solid #8479E1 ;
    border-radius: 5px;
}

/*ADMIN BACKGROUND*/
.adminBackground {
    background-color: #F8F9FC   ;
}

/*MAIN BUTTON STYLING*/
.mainStyle, .mainStyle:after {
    position: relative;
    background: linear-gradient(45deg, transparent 5%, mediumpurple 5%);
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    width: 150px;
    height: 76px;
    line-height: 78px;
    box-shadow: 6px 0px 0px purple;
    outline: transparent;
    user-select: none;
    touch-action: manipulation;
}

.mainStyle:after {
    /*SLICES PRE MADE FOR HOVER*/
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: '<Get Users>';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*REPASTING OF THE BACKGROUND*/
    background: linear-gradient(45deg, transparent 3%, orange 3%, purple 5%, mediumpurple 5%);
    /*TEXT IS OFFSCALED*/
    text-shadow: -3px -3px 0px orange, 3px 3px 0px purple;
}

.mainStyle:hover:after {
    /*SETTING UP THE ANIMATION  GLITCH*/
    animation: glitch 1s;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    /*THE SLICES ALTERNATE IN PAIRS OF 2
    THE DISTANCES ARE MOVE*/
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }
    10% {
        clip-path: var(--slice-3);
        transform: translate(-10px, -10px);
    }
    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, -10px);
    }
    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }
    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }
    50% {
        clip-path: var(--slice-3);
        transform: translate(-5px, 0px);
    }
    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }
    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }
    80% {
        clip-path: var(--slice-5);
        transform: translate(-20px, -10px);
    }
    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }
    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@media (min-width: 768px) {
    .mainStyle,
    .mainStyle:after {
        width: 200px;
        height: 86px;
        line-height: 88px;
    }
}

/*ADMIN CONTENT PANEL*/

.postInputField {
    padding-top: 50px;
    padding-bottom: 50px;

}