/*  ANIMATION */

.suveryTitle {
    color: white;
    background-color: mediumpurple;
    border: black solid 2px;
    border-radius: 7px;
    width: 25%;
    text-decoration: none;
    list-style: none;
}

.suveryTitle:hover {
    background-color: white;
    /*border: white;*/
    color: mediumpurple;
    cursor: pointer;

}


.fade-in-animation {
    animation: animation-fade 1s ease-in-out;
}

@keyframes animation-fade {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;

    }
    50%{
        opacity: 0.5;

    }
    75%{
        opacity: 0.75;

    }
    100%{
        opacity: 1;

    }
}

/*MAIN STYLING SECTION*/

/* NAVIGATION CSS*/

#header {
    position: absolute;
    width: 220px;
}
#header .pro-sidebar {
    height: 100vh;
}
/*CONTROLLS THE MIN/MAX BUTTON*/
#header .closemenu {
    color: mediumpurple;
    position: absolute;
    right: 0;
    z-index: 1000;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    top: 50%;
    cursor: pointer;
}
/*CONTROLLS THE WIDTH OF NAVBAR*/
#header .pro-sidebar {
    width: 100%;
    min-width: 100%;
}

/*CONTROLLS THE WIDTH OF NAVBAR WHEN COLLAPSED*/
#header .pro-sidebar.collapsed {
    width: 80px;
    min-width: 80px;
}

/*TARGETS BACKGROUND PG NAV*/
#header .pro-sidebar-inner {
    background-color: #212529;
    box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
}

#header .pro-sidebar-inner .pro-sidebar-layout {
    overflow-y: hidden;
}

/*CONTROL FONT OF LOGO AREA*/
#header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
    font-size: 20px;
    padding: 5px 20px 0 20px;
    color: white;
    font-weight: bold;
}

/*PROVIDE EXTRA PADDING*/
#header .pro-sidebar-inner .pro-sidebar-layout ul {
    padding: 0 5px;
}

/*SPACING FOR ICON ELEMENTS*/
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: #212529;
    margin: 10px 0px;
    font-weight: bold;
}

/*BACKGROUND COLOR OF ICONS*/
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
    background-color: mediumpurple;
    color: #212529;
    border-radius: 3px;
}

/*WRAPPING*/
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
    color: #212529;
}

/*ACTIVE STATUS*/
/* #header .pro-sidebar-inner .pro-sidebar-layout .active {
    background-image: linear-gradient(0deg, #fece00 0%, #ffe172 100%);
} */
/*LOGO PADDING*/
#header .logo {
    padding: 20px;
}

/*MEDIA QUERRIES*/
@media only screen and (max-width: 720px) {
    html {
        overflow: hidden;
    }
}

/* ADMIN  */

/*PADDING TO AVOID COLISION ON NAV*/
.adminBody {
    padding-left: 100px;
    padding-right: 20px;
}

/*COLOR TAG ON FACT*/
.purple-text-tag {
    border-left: 10px solid #8479E1 ;
    border-radius: 5px;
}

/*ADMIN BACKGROUND*/
.adminBackground {
    background-color: #F8F9FC   ;
}

/*ADMIN CONTENT PANEL*/

.postInputField {
    padding-top: 50px;
    padding-bottom: 50px;

}


/*MAIN BUTTON STYLE*/

/*EFFECT COLOR OF FONT & TEXT*/
.buttonMainStyle {
    position: relative;
    width: 180px;
    height: 60px;
    margin: 20px;
    line-height: 60px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: black;
    transition: 0.5s;
    border: 1px solid #ec1840;
}




/*HOVER EFFECT & ANIMATION TRIGGER*/
.buttonMainStyle:hover {
     border: 1px solid transparent;
     background: #ec1840 url(https://i.postimg.cc/wBXGXbWN/pixel.png);
        transition-delay: 0.8s;
     background-size: 180px;
     animation: animate 0.8s steps(8) forwards;
 }

.buttonMainStyle:last-of-type {
    border: 1px solid #7a18ec;
}

.buttonMainStyle:hover {
     background: #7a18ec url(https://i.postimg.cc/FzBWFtKM/pixel2.png);
 }

/*ANIMATION KEYFRAMES*/
@keyframes animate {
    0% {
        background-position-y: 0;
    }
    100% {
        background-position-y: -480px;
    }
}

/* Header */
.icon {
    width:20px;
}

.headertext{
    color:#a07ede;
    margin-top: 3px;
}

.form-dark {
    background-color: #212529;
    color: white;
}

#root {
    height: 100vh;
    background-color: #F8F9FC;
}

/* Posts */
.post-input-container {
    margin: 20px auto;
    padding: 10px;
    width: 55%;
    /* border: #a07ede solid 2px; */
    background-color: #212529;
    color: white;
    border-radius: 5px;
    box-shadow: 3px 2px 5px 3px rgba(0, 0, 0, 0.15);
}

.user-badge {
    width: 50px;
    margin: 0 5px 10px 5px;
}

.postbtn{
    background: #a07ede;
    width: 100%;
    margin:10px 0% 0 0%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
}

.postbtn:hover{
    background-color: #845ecb;
}

.post-container{
    margin: 20px auto;
    padding: 10px;
    width: 55%;
    border: #a07ede solid 2px;
    background-color: white;
    color: black;
    border-radius: 5px;
    box-shadow: 3px 2px 5px 3px rgba(0, 0, 0, 0.15);
}